################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/ProjectSettings.json
/Mandelbrot/obj/Release/Mandelbrot.csproj.CoreCompileInputs.cache
/.vs/slnx.sqlite
